.carousel {
    padding: 5rem;
}

.box{
    max-width: 100%;
}


.box h3 {
    text-align: center;
}

.slick-slide div {
    margin-left:2%
}

.slick-prev {
    color:#DE6769 !important;

}

.slick-next {
    color:#DE6769 !important;
}

.slick-prev:before, .slick-next:before {
    color:#DE6769 !important;
  
}

.slick-dots li.slick-active button:before {
    color: #DE6769 !important;
}

.slick-dots li button:before {
    color: #DE6769 !important;
    font-size: .8rem !important;
}

  


  

@media screen and (max-width: 768px) {
    .carousel {
        padding: 3rem;
    }
    
    
 }